@{
    ViewBag.Title = "Home Page";
}


    <text style="text-align: center">
        <p>
            <h3>
            <b>KOMUNIKAT NR 5  2019/2020
             <br>KUJAWSKO-POMORSKIEGO OKRĘGOWEGO ZWIĄZKU
            <br>TENISA STOŁOWEGO  Z  DNIA 31.12.2019</b></h3>
            <br>
            <h4>

                <b>Mistrzostwa Województwa Seniorów i Seniorek</b> odbędą się  26.01.2020 (niedziela)

                <br>w Hali Sportowej w Sępólnie Kraj. ul. Chojnicka 19

                <br>Losowanie – godz. 9.30             Początek gier – 10.00

                <br><br>Mężczyźni i Kobiety grają dwa turnieje. W eliminacjach do MP nie grają

                zawodnicy z listy krajowej.

                W  Mistrzostwach Województwa gra 8 zawodników-( zawodnicy z listy

                krajowej z miejsc 1-32  + z el. do Mistrzostw Polski)


<br>
            W Eliminacjach do MP prawo gry ma tylko 32 najlepszych zawodników i

            zawodniczek klasyfikacji po III WTK i III Grand Prix (nie liczy się zawodników z

            listy krajowej). Nie mają prawa grać zawodnicy, którzy nie uczestniczyli w

            sezonie 2019/20 w żadnym WTK-Grand Prix.

            W przypadku nie przybycia zawodników z miejsc 1-32- lista może być

            uzupełniona innymi zawodnikami znajdującymi się na liście na kolejnych

            miejscach i spełniającymi powyższe kryteria.

            Zawody rozgrywane są systemem pucharowym o miejsca 1, 2, 3-4, 5-8, 9-16,

            17-24, 25-32 </h4>
    </text>


<div class="row">


    <div class="col-md-4">
        <h2>Protokół meczowy</h2>
        <p>
            Proszę uzywyć poniższego protokołu na sezon 2019/2020, po zakończonych spotkaniach proszę o wysłanie poprawnie wypełnionego protokołu na adres adminKPOZTS@gmail.com
        </p>
        <p><a class="btn btn-default" href="http://kpozts.bydgoszcz.pl/component/option,com_remository/Itemid,76/func,download/id,39/chk,c45733e7e40207abd918fd807761cba1/">Pokaż więcej &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Wykaz okładzin</h2>
        <p>Plik zawiera zbiór wszystkich okładzin ITTF które zostały dopuszczone do rozgrywek na szeblach miedzynarodowych, obowiązuje od 01.01.2020 do 01.06.2020 roku</p>
        <p><a class="btn btn-default" href="http://kpozts.bydgoszcz.pl/component/option,com_remository/Itemid,76/func,download/id,41/chk,eb6782f231e3fb13cfe22d243375f2d0/">Pokaż więcej &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Regulamin rozgrywek</h2>
        <p>Obowiązuje wszystkie kluby biąrace udział w rozgrywkach</p>
        <p><a class="btn btn-default" href="http://www.pomorski.tenis-stolowy.org/wp-content/uploads/2019/09/REGULAMIN_II_LM_2019_20_v02.pdf">Pokaż więcej &raquo;</a></p>
    </div>
</div>